:root {
  --color-primary-red: #e81e2f;
  --color-primary-blue: #0063a4;
}
@font-face {
  font-family: "library";
  src: local("Library 3 am"), url("../fonts/Library\ 3\ am.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Monterrat-Bold"), url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Epilogue";
  src: local("Epilogue"), url('../fonts/Epilogue-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Epilogue";
  src: local('Epilogue'), url('../fonts/Epilogue-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.App {
  height: 1850px;
  max-width: 400px;
  padding: 0 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
}
body {
  font-family: 'Epilogue';
}
@media screen and (min-width: 568px) {
  .App {
    margin-top: 75px;
 }
}
a {
  text-decoration: none;
}
a:hover {
  background-color: var(--color-primary-blue);
  color: white;
}
button, input[type="submit"], a {
  display: block;
  width: 100%;
  padding: 12px 10px 10px 10px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid var(--color-primary-blue);
  background-color: white;
  font-family: 'Epilogue';
  font-size: 16px;
  font-weight: bold;
  color: var(--color-primary-blue);
}
button.active, input[type="submit"].active, a.active, button:hover, input[type="submit"]:hover, a:hover {
  background-color: var(--color-primary-blue);
  color: white;
}
button:hover, input[type="submit"]:hover, a:hover, button.active, input[type="submit"].active, a.active {
  background-color: var(--color-primary-blue);
  color: white;
}
button.reset {
  margin-top: 30px;
  color: var(--color-primary-red);
  border: 2px solid var(--color-primary-red);
  background: white;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}
button.reset:hover, button.reset:active {
  color: white;
  border: 2px solid var(--color-primary-red);
  background: var(--color-primary-red);
}
.cursor-disable {
  cursor: not-allowed;
}
.enable-view {
  height: 100vh;
  width: 100vw;
}
.fadeIn {
  animation: fadeIn 0.5s linear;
}
.city-input {
  width: auto;
  padding: 10px 2px 10px 10px;
  background-color: white;
  outline: none;
  font-size: 14px;
  font-family: "Epilogue";
  font-weight: normal;
  color: var(--color-primary-blue);
  border: none;
}
.drop-url {
  width: calc(100% - 8px);
  margin-top: 5px;
  padding: 10px 2px 10px 3px;
  background-color: white;
  outline: none;
  font-size: 14px;
  font-family: "Epilogue";
  font-weight: normal;
  color: var(--color-primary-blue);
  border: none;
  border-bottom: 2px solid var(--color-primary-blue);
}
.drop-url::placeholder, .city-input::placeholder {
  color: var(--color-primary-blue);
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  opacity: 0.5;
  padding-top: 3px;
  padding-left: 5px;
}
.city-input:focus::placeholder, .drop-url:focus::placeholder {
  opacity: 0;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-internal-autofill-selected {
  color: white !important;
  background-color: var(--color-primary-blue) !important;
  -webkit-transition-delay: 99999s;
}
.geolocations {
  display: flex;
  flex-direction: column;
}
.geolocations button {
  margin-left: auto;
  margin-right: auto;
}
.geolocations div {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid var(--color-primary-blue);
  background: var(--color-primary-blue);
}
.geolocations div p {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  word-wrap: anywhere;
  color: var(--color-primary-blue);
  background: white;
  border-radius: 6px;
  padding: 10px;
}
.geolocations div p:first-of-type {
  margin-right: 5px;
}
.geolocations-status {
  color: white;
  width: 100%;
}
h1 {
  color: var(--color-primary-blue);
  font-weight: bold;
  font-family: 'library';
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 40px;
}
h2 {
  margin: 0;
  margin-top: 20px;
  color: var(--color-primary-blue);
  text-align: left;
  font-family: "Epilogue";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.input_group, .results {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.input_group:empty {
  display: none;
}
input[type="submit"]:hover {
  background-color: var(--color-primary-blue);
  color: white;
}
.button--select {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  column-gap: 10px;
  margin-bottom: -1px;
}
.button--select button {
  padding: 12px 10px 10px 10px;
  border-radius: 6px 6px 0px 0px;
  border-bottom: none;
}
button[type="submit"] {
  margin-top: 15px;
}
.method {
  display: none;
  position: relative;
}
.method.active {
  display: flex;
}
.method-housing .method {
  background: var(--color-primary-blue);
  padding: 15px;
  border-radius: 0px 0px 6px 6px;
  flex-direction: column;
}
.results .links .individual-link {
  display: flex;
  border: 2px solid var(--color-primary-blue);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
  text-align: left;
  background: white;
}
.results .links .individual-link a {
  width: 35%;
  font-size: 14px;
  margin: auto 0 auto 15px;
  text-align: center;
}
.results .links .individual-link p {
  width: 65%;
  font-size: 14px;
  color: var(--color-primary-blue);
  font-family: "Epilogue";
  font-weight: bold;
  font-style: normal;
}
.results .result-option {
  position: relative;
  display: none;
  flex-direction: column;
  padding: 0 15px 15px 15px;
  background: var(--color-primary-blue);
  border-radius: 0 0 6px 6px;
}
.results .result-option.active {
  display: flex;
}
.results .result-option > p {
  margin-top: 25px;
  font-size: 14px;
  color: white;
  background: var(--color-primary-blue);
}
.submissions a {
  width: auto;
  padding: 15px;
  color: white;
  background: var(--color-primary-blue);
  border: 2px solid var(--color-primary-blue);
}
.title_animate:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.waypoints {
  margin: 10px 0 20px 0;
  width: auto;
}
/* Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    right: -10px;
 }
  100% {
    opacity: 1;
    right: 0px;
 }
}
