:root {
  --color-primary-red: #E81E2F;
  --color-primary-blue: #0063A4;
}

@font-face {
  font-family: "Alfarn", sans-serif;
  src: url("./fonts/Alfarn.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gone";
  src: local("youre gone"), url("./fonts/youre\ gone.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "gone";
  src: local("youre gone it"), url("./fonts/youre\ gone it.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "library";
  src: local("Library 3 am"), url("./fonts/Library\ 3\ am.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 75px auto 0 auto;
  max-width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: var(--color-primary-blue);
  font-weight: bold;
  font-family: 'library';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button.back {
  border: none;
  margin-top: 5px;

  &:hover {
    text-decoration: underline;
  }
}

.enable-view { 
  height: 100vh;
  width: 100vw;
}

.form_input {
  width: calc(100% - 16px);
  border: none;
  padding: 10px 10px 10px 6px;
  font-size: 17px;
  background-color: var(--color-primary-blue);
  border-radius: 6px;
  outline: none;
  color: white;

  &::placeholder {
    color: white;
    font-style: italic;
    font-weight: bold;
    opacity: .8;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

input.form_input:auto-fill,
input.form_input:-webkit-autofill:focus {
  font-size: 17px !important;
  background-color: var(--color-primary-blue) !important;
}

h2 {
  font-size: 20px;
  color: var(--color-primary-blue);
}

.input_group {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &:empty {
    display: none;
  }
}

input[type="submit"], button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background: white;
  border: 2px solid var(--color-primary-blue);
  border-radius: 6px;
  color: var(--color-primary-blue);
  cursor: pointer;
}

input[type="submit"][disabled] {
  opacity: .5;
}

input[type="submit"]:hover {
  background-color: var(--color-primary-blue);
  color: white;
}

.location_method {
  display: flex;
  justify-content: space-between;

  & button {
    width: auto;
    font-size: 14px;
  }
}

.submission {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.title_animate:hover {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}
