:root {
  --color-primary-red: #E81E2F;
  --color-primary-blue: #0063A4;
}

@font-face {
  font-family: "Alfarn", sans-serif;
  src: url("./fonts/Alfarn.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gone";
  src: local("youre gone"), url("./fonts/youre\ gone.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "gone";
  src: local("youre gone it"), url("./fonts/youre\ gone it.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}

.App {
  font-family: "gone", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 20% auto 0 auto;
  max-width: 400px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  color: var(--color-primary-blue);
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.enable-view { 
  height: 100vh;
  width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
